/*╔═══════════════╗
        RESET
  ╚═══════════════╝*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--- TESTO ---*/

p{
    font-size: 1rem;
}
small{
    font-size: 0.6rem;
}

/*--- TAG ---*/
a{
    color: inherit;
    text-decoration: none;
}
a:visited,a:hover{
    color: inherit;
}
li{
    text-decoration: none;
}

/*╔═══════════════╗
      CONTAINER
  ╚═══════════════╝*/

.container{
    width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-flow: row wrap;
}

.row-vert{
    display: flex;
    flex-flow: column wrap;
}

/*╔═══════════════╗
      COLOMS x ROW
  ╚═══════════════╝*/

.col{
    flex-grow: 1;
}
.col-1{
    flex: 0 0 calc(100% / 12);
    max-width: calc(100% / 12);
}
.col-2{
    flex: 0 0 calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}
.col-3{
    flex: 0 0 calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
}
.col-4{
    flex: 0 0 calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}
.col-5{
    flex: 0 0 calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}
.col-6{
    flex: 0 0 calc(100% / 12 * 6);
    max-width: calc(100% / 12 * 6);
}
.col-7{
    flex: 0 0 calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}
.col-8{
    flex: 0 0 calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}
.col-9{
    flex: 0 0 calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
}
.col-10{
    flex: 0 0 calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}
.col-11{
    flex: 0 0 calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}

/*╔═══════════════╗
        OFFSET
  ╚═══════════════╝*/

.off-set-1{
    margin-left: calc(100% / 12) ;
}

.off-set-2{
    margin-left: calc(100% / 12 * 2) ;
}

.off-set-3{
    margin-left: calc(100% / 12 * 3) ;
}
.off-set-4{
    margin-left: calc(100% / 12 * 4) ;
}
.off-set-5{
    margin-left: calc(100% / 12 * 5) ;
}
.off-set-6{
    margin-left: calc(100% / 12 * 6) ;
}
.off-set-7{
    margin-left: calc(100% / 12 * 7) ;
}
.off-set-8{
    margin-left: calc(100% / 12 * 8) ;
}
.off-set-9{
    margin-left: calc(100% / 12 * 9) ;
}
.off-set-10{
    margin-left: calc(100% / 12 * 10) ;
}
.off-set-11{
    margin-left: calc(100% / 12 * 11) ;
}


/*╔═══════════════╗
      COLOMS x COLUMNS
  ╚═══════════════╝*/

.col-vert{
    flex-grow: 1;
}
.col-vert-1{
    flex: 0 0 calc(100% / 12);
}
.col-vert-2{
    flex: 0 0 calc(100% / 12 * 2);
}
.col-vert-3{
    flex: 0 0 calc(100% / 12 * 3);
}
.col-vert-4{
    flex: 0 0 calc(100% / 12 * 4);
}
.col-vert-5{
    flex: 0 0 calc(100% / 12 * 5);
}
.col-vert-6{
    flex: 0 0 calc(100% / 12 * 6);
}
.col-vert-7{
    flex: 0 0 calc(100% / 12 * 7);
}
.col-vert-8{
    flex: 0 0 calc(100% / 12 * 8);
}
.col-vert-9{
    flex: 0 0 calc(100% / 12 * 9);
}
.col-vert-10{
    flex: 0 0 calc(100% / 12 * 10);
}
.col-vert-11{
    flex: 0 0 calc(100% / 12 * 11);
}

/*╔═══════════════╗
    TOOL & MISC
  ╚═══════════════╝*/

.gutter-small{
    padding: 5px;
}
.gutter-norm{
    padding: 10px;
}
.gutter-big{
    padding: 15px;
}

.mid{
    align-items: center;
}




