
/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

 :root{
    /*- COLORI -*/
    --colore-testo: #fff;
    --colore-testo-titolo: #000;
    --colore-bg-primario: #fff;

    /*- DIMENSIONI GUTTER E SPAZIATURE-*/
    --gutter: 1em;
    --gutter-smal: 0.5em;
    --gutter-big: 2em;
    --spaziatura-section: 200px; 


}

/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/

  [class*="col"]{
      border: 1px solid #fff;
      background-color: blue;
      color: #fff;
      text-align: center;
      min-height: 40px;
      line-height: 40px;
  }


/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/


