
/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

  :root{
    /*- COLORI -*/
    --colore-testo: #fff;
    --colore-testo-titolo: rgb(210, 215, 169);
    --colore-bg-primario: #e0e5eb;
    --colore-bg-primo-div: #2cccc4;
    --colore-bg-secondo-div: #292d33;
    --colore-bg-terzo-div: #fd591d;

    /*- DIMENSIONI GUTTER E SPAZIATURE-*/
    --gutter: 1em;
    --gutter-smal: 0.5em;
    --gutter-big: 2em;
    --spaziatura-section: 200px; 


}

/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/

/*--- TYpo ---*/

h2{
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 2rem;
}

p{
    font-size: 1.2rem;
}

/*DEBUG*/
.debug{
    background-color: #fd591d;
    min-height: 50px;
    border: 5px solid white;
}

/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/

/*--- NAV ---*/
header{
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
}

header div .main-nav{
    display: flex;
    list-style: none;
}

header div .main-nav a{
    line-height: 30px;
    padding: 10px;
}

header input{
    border: none;
}

header .row div.input-container button{
    border: none;
    background: none;
    cursor: pointer;
}

header .row div.input-container{
    padding: 5px 10px;
    border: 1px solid lightgray;
}

header .row div.input-container i{
    color: lightgray;
}


/*--- MAIN ---*/
main{
    position: relative;
}

main .sfondo{
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100%;    
}

main .scuro{
    height: 60vh;
    background-color: var(--colore-bg-primario);
}

main .chiaro{
    height: 40vh;
}
/*---- CONTENTUNTO MAIN ---*/


.sfondo-blue{
    background-color: var(--colore-bg-primo-div);
}

.sfondo-black{
    background-color: var(--colore-bg-secondo-div);
}

.sfondo-orange{
    background-color: var(--colore-bg-terzo-div);
}



/*---- footer ----*/

footer{
    background-color: var(--colore-bg-secondo-div);
    color: #fff;
    text-align: center;
    padding: 30px;
}