/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

  :root{
    /*- COLORI -*/
    --colore-testo: #fff;
    --colore-testo-titolo: rgb(210, 215, 169);
    --colore-bg-primario: #e0e5eb;
    --colore-bg-primo-div: #2cccc4;
    --colore-bg-secondo-div: #292d33;
    --colore-bg-terzo-div: #fd591d;

    /*- DIMENSIONI GUTTER E SPAZIATURE-*/
    --gutter: 1em;
    --gutter-smal: 0.5em;
    --gutter-big: 2em;
    --spaziatura-section: 200px; 


}

/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/

  
.row-column{
    height: 100vh;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/*--- TYpo ---*/

h2{
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 2rem;
}

p{
    font-size: 1.2rem;
}


/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/

/*--- NAV ---*/
header{
    border-bottom: 1px solid lightgray;
}

header .container{
    justify-content: space-between;
}

header div .main-nav{
    display: flex;
    list-style: none;
}

header div .main-nav a{
    line-height: 30px;
    padding: 10px;
}

header input{
    border: none;
}

header .row div.input-container button{
    border: none;
    background: none;
    cursor: pointer;
}

header .row div.input-container{
    padding: 5px 10px;
    border: 1px solid lightgray;
}

header .row div.input-container i{
    color: lightgray;
}

/*--- MAIN ---*/

main{
    position: relative;
}

main .sfondo{
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;    
}

main .chiaro{
    height: 40%;
}

main .scuro{
    height: 60%;
    background-color: var(--colore-bg-primario);
}

/*--- CONTENUTO ---*/

main.container{
    position: absolute;
    z-index: 10;
}

main .row-column{
    justify-content: space-evenly;
}

main .container .row .col-xs-12.gutter-big{
    padding: 0px 30px 30px 30px;
}

main .container .row .col-xs-12 .col-xs-5{
    color:#fff;
    padding: 30px;
}
main .container .row .col-xs-12 .col-xs-5.row-column{
    align-items: center;
    justify-content: space-around;
    font-size: 80px;
}

main .container .row .col-xs-12 .col-xs-1 a.sito{ 
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.social-nav{
    list-style: none;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    padding: 10px;
}

.social-nav li{
    margin: 0 5px;
}

.bg-blue{
    background-color: var(--colore-bg-primo-div);
}

.bg-black{
    background-color: var(--colore-bg-secondo-div);
}

.bg-orange{
    background-color: var(--colore-bg-terzo-div);
}

/*---- footer ----*/

footer{
    background-color: var(--colore-bg-secondo-div);
    color: #fff;
    text-align: center;
    padding: 30px;
}



/* @media screen and (min-width:768px) {

    main .container .row .col-xs-12.gutter-big{
        padding: 0px 30px 30px 30px;
    }
    
    main .container .row .col-xs-12 .row-column .disp-none.a{
        display: block;
    }

}

@media screen and (min-width:1200px) {

    main .container .row .col-xs-12.gutter-big{
        padding: 0px 30px 30px 30px;
    }
    
    main .container .row .col-xs-12 .row-column .disp-none.b{
        display: block;
    }
       
} */

